.produits-section {
  padding: 80px ;
  background: linear-gradient(120deg, #000000, #000000,  #968b45, #000000, #000000, #020202);
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.produits-titre {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #dfdfdf;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(255, 189, 21, 0.962),
               0 0 20px rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
}

.produits-titre::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background: linear-gradient(90deg, #ffd500,#9a7e0e,#3b3208);
  margin: 10px auto 0;
  border-radius: 5px;
}




/* --- Grille Produits --- */
.produits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* --- Carte Produit --- */
.produit-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(100px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produit-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 35px rgba(109, 94, 0, 0.3);
}

/* --- Image Produit --- */
.image-container {
  width: 100%;
  height: 290px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease;
}

.produit-card:hover img {
  transform: scale(1.1);
}

/* --- Infos Produit --- */
.produit-info {
  padding: 20px 15px 30px;
  text-align: center;
}

.produit-info h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.prix {
  color: #ffdc18;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* --- Bouton Acheter --- */
.btn-acheter {
  background: linear-gradient(45deg, #fff311, #232217);
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-acheter:hover {
  background: linear-gradient(45deg, #302d20, #cfbe00);
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(250, 250, 250, 0.888);
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .produits-titre {
    font-size: 1.8rem;
  }
  .produit-card {
    margin: 0 auto;
  }
}
